name: Build and Deploy Stock Dashboard


on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: '30 5 * * *'

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Export API keys as environment variables
      run: |
        echo "RAPIDAPI_KEY=${{ secrets.RAPIDAPI_KEY }}" >> $GITHUB_ENV
        echo "RAPIDAPI_HOST=${{ secrets.RAPIDAPI_HOST }}" >> $GITHUB_ENV

    - name: Run compare_trends.py to generate plots and stats
      run: |
        cd backend
        python compare_trends.py


    - name: Upload GitHub Pages artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: docs

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4